.elementbtn{
	appearance:none;
	padding:0.5em 0.5em;
	--cbg:#151515;
	--cbgh:#000;
	--ctxt:#CCC;
	--ctxth:#FFF;
}

#stuff>textarea{
	width:calc(100% - 1em);
	box-sizing:border-box;
	resize:vertical;
}
#stuff>.in_head{
	display:block;
	width:calc(100% / 3 - 1em);
}